@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: oklch(var(--pc));
  background: oklch(var(--wa));
}

body {
  font-size: 0.875rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #143349;
}

.wallet-adapter-modal-overlay {
  background-color: rgba(0,0,0,0.0);
  backdrop-filter: blur(7px);
}

.wallet-adapter-modal-wrapper {
  background-color: #183F5B;
}

.wallet-adapter-modal-button-close {
  background-color: #143349;
}

.wallet-adapter-modal-button-close svg {
  fill: #fff;
}

.wallet-adapter-button span {
  color: #CBE9FF;
}

.wallet-adapter-dropdown-list-active {
  background-color: #143349;
  top: 40px;
  left: 0;
  width: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px) drop-shadow(rgba(0, 0, 0, 0.06) 0px 1px 1px);
  box-shadow: none;
  grid-row-gap: 0;
  border-radius: 1.4em;
}

.wallet-adapter-dropdown-list-item {
  font-weight: normal;
  height: 32px;
  border-radius: 1em;
}

.wallet-adapter-button {
  border-radius: 3em;
}